<div class="container parks-index">

    <h1 style="font-weight: 100">{{park.name}}</h1>

    <h4>Descripción</h4>
    <p>{{park.description}}</p>

    <hr>

    <a href="/parks/edit?id={{park.id}}" class="btn btn-dark">Editar</a>
    <a href="/parks/delete?id={{park.id}}" class="btn btn-dark">Eliminar</a>
    <a href="/parks" class="btn btn-dark">Volver</a>

</div>